{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<article class="detail-cabin">
    <h3 class="number-cabin"> CABAÑA Nro. {{ cabin.number }} </h3>
    <p class="specification-cabin"> <strong> Informacion de la Cabañas </strong> <br>
        {{ cabin.description }}
    </p>
    <p class="specification-cabin"> Habitaciones: {{ cabin.rooms }} </p>
    <p class="specification-cabin"> Baños: {{ cabin.bathrooms }} </p>
    <p class="specification-cabin"> Comedor: {{ cabin.dining_room }} </p>
    <p class="specification-cabin"> Cocina: {{ cabin.kitchen }} </p>
    <p class="specification-cabin"> Disponibilidad: {{ cabin.availability }} </p>
    <p class="specification-cabin"> Precio: {{ cabin.price }} </p>

    {% if user.is_authenticated and not user.is_staff %}
        <button> <a href="{% url 'reservation:create_reservation' %}" class="cabin-action"> Hacer una Reserva </a> </button> <br>
    {% else %}
        <p>Inicia Sesion para Hacer la Reserva</p>
    {% endif %}

    <button><a href="{% url 'home' %}" class="cabin-action"> Volver a la Lista de Cabañas </a></button>
</article>