{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


{% block content %}

    <nav>
        <a href="{% url 'home' %}" class="return"> Volver al Inicio </a>
    </nav>

    <h1> Sobre el Camping </h1>
    <img src=""></img>
    <p> Sendero del Condor es un Camping natural enclavado entre un <br>
        denso Bosque de Pinos, Grandes Montañas y las orillas de un Lago <br>
        de Aguas cristalina
        <br>
        <br>

        Un lugar pensado para quienes buscan Despejarse y Desconectar <br>
        del dia a dia y entrar en la Naturaleza para admirar el paisaje
        <br>
        <br>

        Aqui el Tiempo se pasa diferente, las Mañanas huelen a Pino, las <br>
        tardes invitan a refrescarse y navegar por el Agua y las Noches <br>
        estan llenas de Estrellas
    </p>
    <br>

    <h2> Servicios Disponibles </h2>
    <h3> Acceso al Lago </h3>
    <p> Disfruta del Lago en toda su extension, mojandote en sus Aguas <br>
        limpias y frescas en las Zonas Habilitadas para ello, rodeado de <br>
        Montañas y bosque en cada direccion
    </p>

    <h3> Kayak </h3>
    <p> Recorre el Lago a tu propio ritmo con el Servicio de Kayak, disponemos <br>
        de enbarcaciones para uno o 2 personas, ideales para quienes buscan <br>
        descubrir lo que tiene el Lago
    </p>

    <h3> Conexion a Internet </h3>
    <p> Sabemos que la desconexion Total no es una Opcion, por eso contamos <br> 
        con Conexion Wi-Fi disponible en los lugares mas comunes del Camping, <br>
        para estar conectado cuando lo necesites sin interferir con tu experiencia <br>
        en la Naturaleza
    </p>

    <footer class="contact-camping">
        <h2> Contacto </h2>
        <p> Telefono: +56 9 6271 3845 </p>
        <p> Email: contacto@senderodelcondor.com </p>
    </footer>

{% endblock %}