{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title> Camping Sendero del Condor </title>
</head>
<body>
    <!-- Name of site and navegation menu for See different Options -->
    <header>
        {% include '_includes/header.html' %}
    </header>

    <!-- Navegation bar for login client in the site or logout -->
    <nav class="navegation-site">
        {% if user.is_authenticated and not user.is_staff %}
            <a href="{% url 'client:logout_client' %}" class="link-navegation"> Cerrar Sesion </a>
            <a href="{% url 'reservation:list_reservation' %}" class="link-navegation"> Mis Reservas </a>
        {% elif user.is_staff%}
            <a href="{% url 'client:logout_client' %}" class="link-navegation"> Cerrar Sesion </a>
        {% else %}
            <a href="{% url 'client:register_client' %}" class="link-navegation"> Registrarse </a>
            <a href="{% url 'client:login_client' %}" class="link-navegation"> Iniciar Sesion </a>
        {% endif %}
        <a href="{% url 'core:about_us' %}" class="link-navegation"> Sobre el Camping </a>
    </nav>

    <!-- Main page with Description by the site -->
    <main>
        {% if user.is_staff %}
            {% include 'dashboard/manage_cabin.html' %}
        {% else %}
            <!-- Show data about Camping and all Cabin availability -->
            {% block content %} {% endblock %}
            <section>
                {% include 'cabin/list_cabin.html' %}
            </section>

            <!-- Contact form for contact to Site -->
            <hr class="footer-site">
            <footer class="contact-camping">
                {% include 'home/form.html' %}
                {% include '_includes/footer.html' %}
            </footer>
        {% endif %}
    </main>
</body>
</html>