{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3> Contactar al Camping </h3>

<form action="" method="post" class="contact-site">

    {% csrf_token %}

    <div>
        <label for="form.name.id_for_label"> Nombre </label> <br>
        {{ form.name }}
        <br>
    </div>

    <div>
        <label for="form.username.id_for_label"> Email </label> <br>
        {{ form.username }}
        <br>
    </div>

    <div>
        <label for="form.phone.id_for_label"> Telefono </label> <br>
        {{ form.phone }}
        <br>
    </div>
    <br>

    <button type="submit" class="login-action"> Contactar al Camping </button>

</form>