<h3> Contactar al Camping </h3>

<form action="" method="post">

    {% csrf_token %}

    <div>
        <label for="form.name.id_for_label"> Nombre </label> <br>
        {{ form.name }}
        <br>
    </div>

    <div>
        <label for="form.username.id_for_label"> Email </label> <br>
        {{ form.username }}
        <br>
    </div>

    <div>
        <label for="form.phone.id_for_label"> Telefono </label> <br>
        {{ form.phone }}
        <br>
    </div>
    <br>

    <button type="submit"> Contactar al Camping </button>

</form>