{% extends 'home/base.html' %}

{% block content %}

    <nav>
        <a href="{% url 'client:register_client' %}"> Registrarse </a>
        <a href="{% url 'client:login_client' %}"> Iniciar Sesion </a>
        <a href="{% url 'core:about_us' %}"> Sobre el Camping </a>
    </nav>

    <h2> Un lugar para Conectar con la Naturaleza </h2>
    <img src=""></img>
    <p> Contamos con Instalaciones Modernas en un Monte con un <br>
        extenso Bosque de Arboles de Pino, Cabañas hechas con Madera <br>
        natural de Troncos de Arbol y Muebles artesanales para una <br>
        Experiencia lo mas cercana a la Naturaleza
    </p>

    <li> Lago para Refrescarse </li>
    <img src=""></img>

    <li> Navegacion con Kayak </li>
    <img src=""></img>

    <li> Fogata con Parilla </li>
    <img src=""></img>

{% endblock %}

{% block cabin %}
{% endblock %}