{% extends 'home/base.html' %}
{% load static %}

{% block content %}

    <h2 class="phrase-camping"> Un lugar para Conectar con la Naturaleza </h2>

    <main class="description-camping">
        <p> Contamos con Instalaciones Modernas en un Monte con un <br>
            extenso Bosque de Arboles de Pino, Cabañas hechas con Madera <br>
            natural de Troncos de Arbol y Muebles artesanales para una <br>
            Experiencia lo mas cercana a la Naturaleza
        </p>
        
        <section class="service">

            <article class="service-camping">
                <p> Lago para Refrescarse </p>
                <img src="{% static 'img/lago.png' %}" width="120">
            </article>

            <article class="service-camping">
                <p> Navegacion con Kayak </p>
                <img src="{% static 'img/kayak.png' %}" width="120">
            </article>

            <article class="service-camping">
                <p> Fogata con Parilla </p>
                <img src="{% static 'img/fogata.png' %}" width="120">
            </article>

        </section>
    </main>

{% endblock %}