{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3> Iniciar Sesion </h3>

<form method="POST">

        {% csrf_token %}
        <div>
                <label for="form.username.id_for_label"> Nombre </label> <br>
                {{ form.username }}
                <br>
        </div>

        <div>
                <label for="form.email.id_for_label"> Email </label> <br>
                {{ form.email }}
                <br>
        </div>

        <div>
                <label for="form.password.id_for_label"> Password </label> <br>
                {{ form.password }}
                <br>
        </div>
        <br>

        <button type="submit" class="login-action"> Iniciar Sesion </button>

</form>