<h3> Registrarse </h3>

<form method="POST">

        {% csrf_token %}
        <div>
                <label for="form.first_name.id_for_label"> Nombre </label> <br>
                {{ form.first_name }}
                <br>
        </div>

        <div>
                <label for="form.last_name.id_for_label"> Apellido </label> <br>
                {{ form.last_name }}
                <br>
        </div>

        <div>
                <label for="form.username.id_for_label"> Nombre de Usuario </label> <br>
                {{ form.username }}
                <br>
        </div>

        <div>
                <label for="form.email.id_for_label"> Email </label> <br>
                {{ form.email }}
                <br>
        </div>

        <div>
                <label for="form.is_owner.id_for_label"> ¿Es propietario? </label> <br>
                {{ form.is_owner }}
                <br>
        </div>

        <div>
                <label for="form.password1.id_for_label"> Password </label> <br>
                {{ form.password1 }}
                <br>
        </div>

        <div>
                <label for="form.password2.id_for_label"> Repita la Password </label> <br>
                {{ form.password2 }}
                <br>
        </div>
        <br>

        <button type="submit"> Registrarse </button>

</form>