{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3> Hacer una Reserva en la Cabaña {{ cabin.number }} </h3>

{% block content %}

<form method="POST">
        {% csrf_token %}

        <div>
                <label for="form.client.id_for_label"> Cliente </label> <br>
                {{ form.client }}
                <br>
        </div>

        <div>
                <label for="form.cabin.id_for_label"> Cabaña </label> <br>
                {{ form.cabin }}
                <br>
        </div>

        <div>
                <label for="form.persons.id_for_label"> Nro. de Personas </label> <br>
                {{ form.persons }}
                <br>
        </div>

        <div>
                <label for="form.entrance.id_for_label"> Fecha de Entrada </label> <br>
                {{ form.entrance }}
                <br>
        </div>

        <div>
                <label for="form.exit.id_for_label"> Fecha de Salida </label> <br>
                {{ form.exit }}
                <br>
        </div>

        <div>
                <label for="form.payment.id_for_label"> Monto de Pagar </label> <br>
                {{ form.payment }}
                <br>
        </div>
        <br>

        <button type="submit" class="reservation-action"> Hacer Reserva </button>
</form>

{% endblock %}