.link-navegation {
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  position: relative;
  z-index: 999;
  left: 500px;
  bottom: 50px;
  text-decoration: none;
}

.link-navegation:hover {
  background-color: #ACACAC;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

.register-site {
  margin-left: 650px;
  text-align: left;
}

.login-site {
  margin-left: 650px;
  text-align: left;
}

.login-action {
  background-color: #966F33;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 15px;
  margin: 20px;
  padding: 8px;
  text-decoration: none;
}

.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-camping {
  margin: 50px;
}

.cabins-availability {
  position: relative;
  bottom: 270px;
}

.cabins {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cabin {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px #343434;
  margin: 20px;
  padding: 10px;
  height: 200px;
  width: 350px;
}

.cabin > p {
  margin-left: 15px;
  text-align: left;
}

.detail-cabin {
  margin: 50px;
  margin-left: 575px;
  text-align: left;
}

.detail-cabin > .number-cabin {
  margin-left: 100px;
}

.cabin-detail > a {
  color: white;
  text-decoration: none;
}

.action-cabin {
  background-color: #966F33;
  border: none;
  color: white;
  padding: 15px;
  text-decoration: none;
}

.cabin-create {
  background-color: #966F33;
  border-radius: 4px;
  color: white;
  padding: 10px;
  text-decoration: none;
}

.return-cabin {
  background-color: #966F33;
  color: white;
  text-decoration: none;
}

.return-dashboard {
  color: black;
  margin-right: 1050px;
  position: relative;
  top: 50px;
  text-decoration: none;
}

.cabin-management {
  margin-top: 50px;
}

.cabin-manage {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px #343434;
  margin: 20px;
  padding: 10px;
  position: relative;
  left: 545px;
  height: 240px;
  width: 350px;
}

.cabin-description {
  text-align: left;
}

.cabin-edit {
  border-radius: 4px;
  border: none;
  margin: 50px;
  margin-left: 575px;
  padding: 10px;
  text-align: left;
}

.edit-cabin {
  background-color: #966F33;
  border-radius: 4px;
  border: none;
  margin: 20px;
  padding: 10px;
}

.edit-cabin > a {
  color: white;
  text-decoration: none;
}

.delete-cabin {
  margin: 30px;
}

.cabin-delete {
  background-color: #966F33;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 18px;
  margin: 20px;
  padding: 10px;
  text-decoration: none;
}

.cabin-delete > a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.cabin-action {
  background-color: #966F33;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
}

.cabin-action > a {
  color: white;
  text-decoration: none;
}

.reservation-created {
  margin: 50px;
}

.reservation {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 8px #343434;
  margin: 20px;
  margin-left: 450px;
  padding: 10px;
  height: 240px;
  width: 550px;
}

.cabin-number {
  margin-left: 350px;
  text-align: left;
}

.reservation > p {
  margin-left: 350px;
  text-align: left;
}

.reservation-detail {
  background-color: #966F33;
  border-radius: 4px;
  border: none;
  font-size: 18px;
  margin: 20px;
  padding: 10px;
  position: relative;
  left: 220px;
}

.reservation-detail > a {
  color: white;
  text-decoration: none;
}

.detail-reservation {
  margin: 50px;
  margin-left: 550px;
  text-align: left;
}

.reservation-cabin {
  margin: 50px;
  margin-left: 575px;
  text-align: left;
}

.reservation-action {
  background-color: #966F33;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  padding: 10px;
  position: relative;
  left: 20px;
  top: 20px;
}

.reservation-action > a {
  color: white;
  text-decoration: none;
}

.action-reservation {
  background-color: #966F33;
  border-radius: 4px;
  border: none;
  color: white;
  font-size: 15px;
  padding: 10px;
  position: relative;
  left: 20px;
  top: 20px;
}

.reservation-cancel {
  background-color: #966F33;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  padding: 10px;
  position: relative;
  left: 10px;
  top: 30px;
}

.reservation-cancel > a {
  color: white;
  text-decoration: none;
}

.return-reservation {
  background-color: #966F33;
  border-radius: 4px;
  border: none;
  font-size: 15px;
  padding: 10px;
  position: relative;
  left: 20px;
  top: 30px;
}

.return-reservation > a {
  color: white;
  text-decoration: none;
}

.return-cabin {
  background-color: #966F33;
  border-radius: 4px;
  border: none;
  padding: 10px;
  position: relative;
  left: 170px;
  bottom: 16px;
}

.return-cabin > a {
  color: white;
  text-decoration: none;
}

* {
  font-family: "Ancizar Serif";
}

body {
  background-color: #F0F0F0;
  margin: 0;
  padding: 0;
  text-align: center;
}

.name-camping {
  position: relative;
  right: 450px;
  top: 10px;
}

.navegation-site {
  margin: 35px;
}

.phrase-camping {
  background-image: url("/static/img/camping.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: white;
  padding: 500px;
  position: relative;
  bottom: 170px;
}

.description-camping {
  background-color: #966F33;
  color: white;
  font-size: 25px;
  padding: 50px 0 150px 0;
  position: relative;
  bottom: 350px;
}

.contact-camping {
  position: relative;
  bottom: 150px;
}

.camping-about {
  margin-right: 490px;
  text-align: center;
}

.about-camping {
  margin-top: 50px;
  margin-left: 480px;
  text-align: left;
}

.camping-contact {
  margin-left: 575px;
  margin-top: 50px;
  text-align: left;
}

.contact-site {
  margin-left: 635px;
  text-align: left;
}

.footer-site {
  position: relative;
  bottom: 180px;
  width: 1250px;
}

.return {
  color: black;
  font-size: 18px;
  margin: 20px;
  padding: 8px;
  position: relative;
  right: 575px;
  top: 30px;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
