.cabin-action {
    background-color: #966F33;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
}

.cabin-action > a {
    color: white;
    text-decoration: none;
}