{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<h3> Crear Cabaña en Arriendo </h3>

<form method="POST">
    {% csrf_token %}
    
    <!-- Create Cabin with all data -->
    <div>
        <label for="form.number.id_for_label"> Nro. de la Cabaña </label> <br>
        {{ form.number }}
    </div>

    <div>
        <label for="form.preview.id_for_label"> Preview de la Cabaña </label> <br>
        {{ form.preview }}
    </div>

    <div>
        <label for="form.description.id_for_label"> Descripcion </label> <br>
        {{ form.description }}
    </div>

    <div>
        <label for="form.rooms.id_for_label"> Nro. de Habitaciones </label> <br>
        {{ form.rooms }}
    </div>

    <div>
        <label for="form.bathroom.id_for_label"> Baños </label> <br>
        {{ form.bathroom }}
    </div>

    <div>
        <label for="form.dining_room.id_for_label"> Comedor </label> <br>
        {{ form.dining_room }}
    </div>

    <div>
        <label for="form.kitchen.id_for_label"> Cocina </label> <br>
        {{ form.kitchen }}
    </div>

    <div>
        <label for="form.availability.id_for_label"> Disponibilidad </label>
        {{ form.availability }}
    </div>

    <div>
        <label for="form.price.id_for_label"> Precio </label> <br>
        {{ form.price }}
    </div>
    <br>

    <button type="submit" class="cabin-action"> Crear nueva Cabaña en Arriendo </button>
</form>