{% load static %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/style.css' %}">


<nav>
    <button><a href="{% url 'home' %}" class="return"> Volver a la Lista de Cabañas </a></button>
</nav>

<article class="description-cabin">
    <h3 class="number-cabin"> CABAÑA {{ cabin.number }} </h3>
    <p> {{ cabin.description }} </p>
    <p> Nro. de Habitaciones: {{ cabin.rooms }} </p>
    <p> Baños: {{ cabin.bathrooms }} </p>
    <p> Estado: {{ cabin.availability }} </p>
    <p> Precio: {{ cabin.price }} </p>
    
    <button> <a href="{% url 'cabin:delete_cabin' cabin.pk %}" class="cabin-action"> Eliminar Cabaña </a> </button> <br>
</article>